In [2]:
def func1():
    print('Python')

func1()
func1()
func1()

Python
Python
Python

In [ ]:
# def 함수이름(매개변수1, 매개변수2,...):
    #수행문장

# 매개변수가 2개인 함수 (인수, 인자값 2개)

In [3]:
def func2(a,b):
    print(f'{a} x {b} = {a*b}')

func2(6,2)
func2(9,3)
func2(5,7)

6 x 2 = 12
9 x 3 = 27
5 x 7 = 35

# 반환값만 있는 함수

In [4]:
# def 함수이름():
     #수행문장
    #return 반환값

In [5]:
def func3():
    return "abcdefg"
a = func3()
print(a + "JJ")

abcdefgJJ

# 입력, 반환값이 둘다 있는 함수

In [6]:
# def 함수이름(매개변수1, 매개변수2 ...):
    # 수행문장
    # return 반환값

In [7]:
def func4(a,b):
    return a*b

c = func4(3,9)
print(c)

27

# 구구단 without 함수

In [13]:
for i in range(1,10):
    print(f'{2} x {i} = {2*i}')
for i in range(1,10):
    print(f'{3} x {i} = {3*i}')

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

# 구구단 with 함수

In [14]:
def gugudan(num):
    for i in range(1,10):
        print(f'{num} x {i} = {num * i}')

gugudan(2)
gugudan(3)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

# 디폴트 매개변수

In [20]:
# def 함수이름(매개변수1, 매개변수2 = A, 매개변수3 = B):
    # 수행 문장
    # return 반환값

# ** 뒤에서부터 선언해야 함. a,b,c가 있다면 c부터

In [21]:
def func1(a, b=5, c=10):
    return a + b + c

print(func1(1, 2, 3))
print(func1(1, 2))
print(func1(1))

# 1 (a) + 5 (b) + 10 (c) = 16

6
13
16

In [22]:
def func2(a=10, b=20):
    return a + b

print(func2(1,2))
print(func2(1))
print(func2())

3
21
30

# 매개변수 N개

In [25]:
# def 함수이름(*매개변수):
    # 수행문장
    # return 반환값

# ** args(argument) n개의 매개변수를 표현할 때 사용

In [24]:
def func6(*args):
    a = 0
    for i in args:
        a = a + i
    return a

b = func6(1,2)
print(b)

c = func6(2,3,4,5)
print(c)

d = func6(1,2,3,4,5,4,3,2,1)
print(d)

e = func6()
print(e)

3
14
25
0

In [26]:
# 일반 함수

In [27]:
def plus_two(x):
    return x + 2

result1 = list(map(plus_two, [1,2,3,4,5]))
print(result1)

[3, 4, 5, 6, 7]

In [28]:
# 람다 함수

In [29]:
result2 = list(map((lambda x: x +2), [1,2,3,4,5]))
print(result2)

[3, 4, 5, 6, 7]

In [30]:
# 일반 함수

In [32]:
def is_even(x):
    return x % 2 == 0

result1 = list(filter(is_even, range(10)))
print(result1)

[0, 2, 4, 6, 8]

In [ ]:
# 람다 함수

In [33]:
result2 = list(filter((lambda x: x % 2 == 0), range(10)))
print(result2)

[0, 2, 4, 6, 8]

In [34]:
# break, continue, pass

In [35]:
for number in range(10):
    if number == 5:
        break
    print(number)

0
1
2
3
4

In [36]:
for number in range(10):
    if number % 2 == 0:
        continue
    print(number)

1
3
5
7
9

In [37]:
for number in range(5):
    if number == 3:
        pass
    else:
        print(number)

0
1
2
4

In [38]:
stock_price = 250
if stock_price > 200:
    print("Time to sell")

Time to sell

In [40]:
day = "Tuseday"

if day == "Monday":
    print("Start of the week!")
elif day == "Friday":
    print("Almost weekend!")
elif day  == "Saturday":
    print("Weekend!")
else: 
    print("Middle oof the week")

Middle oof the week

In [41]:
scores = (98,85,76,54,78)
highest, *rest = scores
print("Highest score:", highest)
print("Other scores:", rest)

Highest score: 98
Other scores: [85, 76, 54, 78]

In [43]:
str1 = "aaaaa"
str2 = "bbbbb"
result = "".join(a + b for a, b in zip(str1, str2))
print(result)

ababababab

In [45]:
def solution(str1, str2):
    result = "".join(a + b for a,b in zip(str1, str2))
    return result

str1 = "aaaaa"
str2 = "bbbbb"
answer = solution(str1, str2)
print(answer)

ababababab

In [51]:
arr = ["a","b","c"]
result = "".join(arr)
print(result)

abc

In [52]:
arr = ["a","b","c"]
result = ""

for char in arr:
    result += char
print(result)

abc

In [58]:
def solution(arr):
    result = "".join(arr)
    return result

answer = solution(["a","b","c"])
print(answer)

abc

In [59]:
solution = lambda l: ''.join(l)

In [61]:
def solution(num, n):
    if num % n == 0:
        return 1
    else:
        return 0

In [64]:
def solution(n):
    if n % 2 != 0:
        return sum(i for i in range(1, n + 1, 2))
    else:
        return sum(i**2 for i in range(2, n +1, 2))
        
solution(7)

16

In [66]:
def solution(ineq, eq, n, m):
    if ineq == "<";
        return 1 if(n <= m if eq == "=" else n < m) else 0
    else: 
        return 1 if n >= m if eq == "=" else n > m) else 0

SyntaxError: unmatched ')' (130991539.py, line 5)