In [3]:
import pandas as pd
import numpy as np

In [4]:
myindex = ['김구', '이봉창', '안중근', '윤봉길']
mycolumns = ['강남구', '은평구', '마포구', '용산구']
mylist = list( 10 * onedata for onedata in range(1,17))
myframe = pd.DataFrame( np.reshape(mylist, (4,4)), index=myindex, columns = mycolumns)
myframe

     강남구  은평구  마포구  용산구
김구    10   20   30   40
이봉창   50   60   70   80
안중근   90  100  110  120
윤봉길  130  140  150  160

In [5]:
print(f"\n# 1번째 행 데이터를 조회하기 \n{'-'*40}")
myframe.iloc[1]

# 1번째 행 데이터를 조회하기
----------------------------------------

강남구    50
은평구    60
마포구    70
용산구    80
Name: 이봉창, dtype: int64

In [6]:
print(f"\n# 1번째와 3번째 행 데이터를 조회하기 \n{'-'*40}")
myframe.iloc[[1,3]]

# 1번째와 3번째 행 데이터를 조회하기
----------------------------------------

     강남구  은평구  마포구  용산구
이봉창   50   60   70   80
윤봉길  130  140  150  160

In [9]:
print(f"\n# 윤봉길 행만 조회하기 \n{'-'*40}")
myframe.loc['윤봉길']

# 윤봉길 행만 조회하기
----------------------------------------

강남구    130
은평구    140
마포구    150
용산구    160
Name: 윤봉길, dtype: int64

In [12]:
print(f"\n# 이봉창과 윤봉길 행 조회하기 \n{'-'*40}")
myframe.loc[['윤봉길','이봉창']]

# 이봉창과 윤봉길 행 조회하기
----------------------------------------

     강남구  은평구  마포구  용산구
윤봉길  130  140  150  160
이봉창   50   60   70   80

In [13]:
print(f"\n# 윤봉길 행의 은평구 데이터만 조회하기 \n{'-'*40}")
myframe.loc[['윤봉길'], ['은평구']]

# 윤봉길 행의 은평구 데이터만 조회하기
----------------------------------------

     은평구
윤봉길  140

In [14]:
print(f"\n# 김구와 이봉창의 용산구와 은평구 데이터 조회하기 \n{'-'*40}")
myframe.loc[['김구','이봉창'], ['용산구','은평구']]

# 김구와 이봉창의 용산구와 은평구 데이터 조회하기
----------------------------------------

     용산구  은평구
김구    40   20
이봉창   80   60

In [16]:
print(f"\n# 은평구의 값이 100이하인 행들을 조회하기 \n{'-'*40}")
myframe.loc[myframe['은평구'] <= 100]

# 은평구의 값이 100이하인 행들을 조회하기
----------------------------------------

     강남구  은평구  마포구  용산구
김구    10   20   30   40
이봉창   50   60   70   80
안중근   90  100  110  120

In [17]:
print(f"\n# 은평구의 값이 100인 행들을 조회하기 \n{'-'*40}")
myframe.loc[myframe['은평구'] == 100]

# 은평구의 값이 100인 행들을 조회하기
----------------------------------------

     강남구  은평구  마포구  용산구
안중근   90  100  110  120

In [21]:
print(f"\n# 김구부터 안중근까지 용산구 데이터를 80으로 변경하기 \n{'-'*40}")
myframe.loc['김구' : '안중근',['용산구']] = 80
myframe

# 김구부터 안중근까지 용산구 데이터를 80으로 변경하기
----------------------------------------

     강남구  은평구  마포구  용산구
김구    10   20   30   80
이봉창   50   60   70   80
안중근   90  100  110   80
윤봉길  130  140  150  160