In [3]:
import pandas as pd
import numpy as np

sdata = [2000.0, 3000.0, 4000.0, np.nan]
city = ['서울', '부산', '울산', '목포']
myseries2 =  pd.Series(sdata, index=city)

#객체 자체의 이름
myseries2.name = '도시 데이터'
#색인의 이름
myseries2.index.name = '도시'
print ( myseries2 )

도시
서울    2000.0
부산    3000.0
울산    4000.0
목포       NaN
Name: 도시 데이터, dtype: float64

# series

In [7]:
import pandas as pd

myindex = ['서울', '부산', '광주', '대구', '울산', '목포', '여수'] 
#변수(list 자료형 사용)

mylist = [50, 60, 40, 80, 70, 30, 20]
myseries = pd.Series(data=mylist, index=myindex)
print(myseries)

서울    50
부산    60
광주    40
대구    80
울산    70
목포    30
여수    20
dtype: int64

In [8]:
print (' \n색인의 이름으로 값 읽기 ')
print(myseries[['대구']])

색인의 이름으로 값 읽기
대구    80
dtype: int64

In [9]:
print (' \n라벨의 이름으로 슬라이싱 ')
print(myseries['대구' : '목포'])

라벨의 이름으로 슬라이싱
대구    80
울산    70
목포    30
dtype: int64

In [11]:
print (' \n여러 개의 이름으로 데이터 읽기 ')
print(myseries[['대구', '여수']])

여러 개의 이름으로 데이터 읽기
대구    80
여수    20
dtype: int64

In [14]:
print (' \n정수를 이용한 데이터 읽기 ')
print(myseries.iloc[2])

정수를 이용한 데이터 읽기
40

In [15]:
print (' \n정수를 이용한 데이터 읽기 ')
print(myseries.iloc[[2]])

정수를 이용한 데이터 읽기
광주    40
dtype: int64

In [16]:
print (' \n0, 2, 4번째 데이터 읽기 ')
print(myseries.iloc[0:5:2])

0, 2, 4번째 데이터 읽기
서울    50
광주    40
울산    70
dtype: int64

In [22]:
print (' \n1,3,5번째 데이터 읽기 ')
print(myseries.iloc[[1,3,5]])

1,3,5번째 데이터 읽기
부산    60
대구    80
목포    30
dtype: int64

In [24]:
print (' \n슬라이싱 사용하기 ')
#from <= result < to 
print(myseries.iloc[3:6])

슬라이싱 사용하기
대구    80
울산    70
목포    30
dtype: int64

In [35]:
print (' \n2번쨰 항목의 값 변경 ')
myseries.iloc[2] = 22

2번쨰 항목의 값 변경

In [36]:
print(' \n2번째 부터 4번째 까지 항목의 값 변경 ')
myseries.iloc[2:5] = 33

2번째 부터 4번째 싸지 항목의 값 변경

In [37]:
print(' \n서울과 대구만 55로 변경 ')
myseries[['서울', '대구']] = 55

서울과 대구만 55로 변경

In [38]:
print(' \n짝수 행만 77로 변경')
myseries.iloc[0::2] = 77

짝수 행만 77로 변경

In [39]:
print(' \n시리즈 내용 확인 ')
print(myseries)

시리즈 내용 확인
서울    77
부산    60
광주    77
대구    55
울산    77
목포    30
여수    77
dtype: int64

In [43]:
data = {
    'Name': ['John', 'Anna', 'Peter', 'Linda'],
    'Age': [28,34,29,32],
    'City': ['New York', 'Paris', 'Berlin', 'London']
}

df = pd.DataFrame(data)
print(df.head())

    Name  Age      City
0   John   28  New York
1   Anna   34     Paris
2  Peter   29    Berlin
3  Linda   32    London

In [44]:
import pandas as pd

data = [1,3,5,7,9]
series = pd.Series(data)

print(series)

0    1
1    3
2    5
3    7
4    9
dtype: int64