# Series

In [1]:
import pandas as pd

myindex = ['서울', '부산', '광주', '대구', '울산', '목포', '여수'] 
#변수(list 자료형 사용)

mylist = [50, 60, 40, 80, 70, 30, 20]
myseries = pd.Series(data=mylist, index=myindex)
print(myseries)

서울    50
부산    60
광주    40
대구    80
울산    70
목포    30
여수    20
dtype: int64

In [4]:
print (' \n2번쨰 항목의 값 변경 ')
myseries.iloc[2] = 22
print(myseries)

2번쨰 항목의 값 변경
서울    50
부산    60
광주    22
대구    80
울산    70
목포    30
여수    20
dtype: int64

In [6]:
print(' \n2번째 부터 4번째 까지 항목의 값 변경 ')
myseries.iloc[2:5] = 33
print(myseries)

2번째 부터 4번째 싸지 항목의 값 변경
서울    50
부산    60
광주    33
대구    33
울산    33
목포    30
여수    20
dtype: int64

In [7]:
print(' \n서울과 대구만 55로 변경 ')
myseries[['서울', '대구']] = 55
print(myseries)

서울과 대구만 55로 변경
서울    55
부산    60
광주    33
대구    55
울산    33
목포    30
여수    20
dtype: int64

In [8]:
print(' \n짝수 행만 77로 변경')
myseries.iloc[0::2] = 77

짝수 행만 77로 변경

In [9]:
print(' \n시리즈 내용 확인 ')
print(myseries)

시리즈 내용 확인
서울    77
부산    60
광주    77
대구    55
울산    77
목포    30
여수    77
dtype: int64

In [10]:
print (' \n색인의 이름으로 값 읽기 ')
print(myseries[['대구']])

색인의 이름으로 값 읽기
대구    55
dtype: int64

In [11]:
print (' \n라벨의 이름으로 슬라이싱 ')
print(myseries['대구' : '목포'])

라벨의 이름으로 슬라이싱
대구    55
울산    77
목포    30
dtype: int64

In [12]:
print (' \n여러 개의 이름으로 데이터 읽기 ')
print(myseries[['대구', '여수']])

여러 개의 이름으로 데이터 읽기
대구    55
여수    77
dtype: int64

In [13]:
print (' \n정수를 이용한 데이터 읽기 ')
print(myseries.iloc[2])

정수를 이용한 데이터 읽기
77

In [14]:
print (' \n0, 2, 4번째 데이터 읽기 ')
print(myseries.iloc[0:5:2])

0, 2, 4번째 데이터 읽기
서울    77
광주    77
울산    77
dtype: int64

In [15]:
print (' \n1,3,5번째 데이터 읽기 ')
print(myseries.iloc[[1,3,5]])

1,3,5번째 데이터 읽기
부산    60
대구    55
목포    30
dtype: int64

In [16]:
print (' \n슬라이싱 사용하기 ')
#from <= result < to 
print(myseries.iloc[3:6])

슬라이싱 사용하기
대구    55
울산    77
목포    30
dtype: int64