# 함수 적용과 매핑(apply 함수)

# apply() - f = lambda x:x.max()-x.min()

# applymap(func) = format = lambda x: '%.2f 퍼센트'% x

In [3]:
import pandas as pd

filename = './data/memberInfo.csv'
df = pd.read_csv(filename, index_col='id')

print(' 시리즈와 apply 메서드')
print(df)

 시리즈와 apply 메서드
     kor  eng
id
김철수   60   70
홍길동   70   75
박영희   80   80

In [7]:
print('일반적인 산술 연산(각각 5점씩 더하기)')
print(df['kor'] + 5)

일반적인 산술 연산(각각 5점씩 더하기)
id
김철수    65
홍길동    75
박영희    85
Name: kor, dtype: int64

In [8]:
# plus 함수 선언
def plus5(x):
    return x + 5
    
print( 'apply 함수를 적용한 결과')
#DataFrame에 내장함수인 apply()를 통해서 사용자정의 함수 plus를 호출
sq = df['kor'].apply(plus5)
print(sq)

apply 함수를 적용한 결과
id
김철수    65
홍길동    75
박영희    85
Name: kor, dtype: int64

In [10]:
print( f'\n# 어떤 수의 n배를 곱해주는 함수 gob 정의 ')

def gob(x,n):
    return n * x

# 어떤 수의 n배를 곱해주는 함수 gob 정의

In [23]:
print( f'\n# 국어(df.kor) 점수에 대하여 2배수의 값을 반환 \n{'-'*50}')

ex = df['kor'].apply(gob, n=2)
print(ex)

# 국어(df.kor) 점수에 대하여 2배수의 값을 반환
--------------------------------------------------
id
김철수    120
홍길동    140
박영희    160
Name: kor, dtype: int64

In [24]:
print( f'\n# 국어(df.kor) 점수에 대하여 3배수의 값을 반환 \n{'-'*50}')
ex = df['kor'].apply(gob,n=3)
print(ex)

# 국어(df.kor) 점수에 대하여 3배수의 값을 반환
--------------------------------------------------
id
김철수    180
홍길동    210
박영희    240
Name: kor, dtype: int64

In [25]:
print( f'\n# 컬럼 방향으로 평균 값을 구해주는 함수 applyByColumn(col) 구현 \n{'-'*70}')

def applyByColumn(col):
    mysum = 0
    for item in col:
        mysum += item
    return mysum / df.shape[0]

print(df.apply(applyByColumn, axis = 0))

# 컬럼 방향으로 평균 값을 구해주는 함수 applyByColumn(col) 구현
----------------------------------------------------------------------
kor    70.0
eng    75.0
dtype: float64

In [26]:
print( f'\n# 행 방향으로 평균 값을 구해주는 함수 applyByRow(row) 구현 \n{'-'*70}')

def applyByRow(row):
    mysum = 0
    for item in row:
        mysum += item
    return mysum / df.shape[1]

print(df.apply(applyByRow, axis = 1))

# 행 방향으로 평균 값을 구해주는 함수 applyByRow(row) 구현
----------------------------------------------------------------------
id
김철수    65.0
홍길동    72.5
박영희    80.0
dtype: float64