In [1]:
import pandas as pd

In [2]:
myindex = ['마포구', '용산구', '서대문구', '동대문구', '은평구', '구로구', '강서구']
mylist = [40, 80, 70, 50, 60, 30, 20]
myseries = pd.Series(data=mylist, index=myindex)
myseries

마포구     40
용산구     80
서대문구    70
동대문구    50
은평구     60
구로구     30
강서구     20
dtype: int64

In [3]:
print( f'\n# 은평구만 조회하기 \n{'-'*40}')
myseries[['은평구']]

# 은평구만 조회하기
----------------------------------------

은평구    60
dtype: int64

In [4]:
print( f'\n# 서대문구부터 구로구까지 조회하기 \n{'-'*40}')
myseries['서대문구' : '구로구']

# 서대문구부터 구로구까지 조회하기
----------------------------------------

서대문구    70
동대문구    50
은평구     60
구로구     30
dtype: int64

In [5]:
print( f'용산구와 동대문구만 조회하기 \n{'-'*40}')
print(myseries[['용산구','동대문구']])

용산구와 동대문구만 조회하기
----------------------------------------
용산구     80
동대문구    50
dtype: int64

In [6]:
print( f'2번째 요소만 조회하기 \n{'-'*40}')
print(myseries.iloc[2])

2번째 요소만 조회하기
----------------------------------------
70

In [7]:
print( f'0,2,4번째 데이터 조회하기 \n{'-'*40}')
print(myseries.iloc[0:5:2])

0,2,4번째 데이터 조회하기
----------------------------------------
마포구     40
서대문구    70
은평구     60
dtype: int64

In [8]:
print( f'1,3,4번째 데이터 조회하기 \n{'-'*40}')
print(myseries.iloc[[1, 3, 4]])

1,3,4번째 데이터 조회하기
----------------------------------------
용산구     80
동대문구    50
은평구     60
dtype: int64

In [9]:
print( f'슬라이싱을 사용하여 2번째부터 4번째까지 조회하기 \n{'-'*40}')
print(myseries.iloc[2:5])

슬라이싱을 사용하여 2번째부터 4번째까지 조회하기
----------------------------------------
서대문구    70
동대문구    50
은평구     60
dtype: int64

In [10]:
print( f'2번째 항목의 값을 99로 변경하기 \n{'-'*40}')
myseries.iloc[2] = 99
print(myseries)

2번째 항목의 값을 99로 변경하기
----------------------------------------
마포구     40
용산구     80
서대문구    99
동대문구    50
은평구     60
구로구     30
강서구     20
dtype: int64

In [11]:
print( f'2번째부터 4번째까지를 66으로 변경하기 \n{'-'*40}')
myseries.iloc[2:4] = 66
print(myseries)

2번째부터 4번째까지를 66으로 변경하기
----------------------------------------
마포구     40
용산구     80
서대문구    66
동대문구    66
은평구     60
구로구     30
강서구     20
dtype: int64

In [12]:
print( f'마포구와 강서구만 55으로 변경하기 \n{'-'*40}')
myseries[['마포구', '강서구']] = 55
print(myseries)

마포구와 강서구만 55으로 변경하기
----------------------------------------
마포구     55
용산구     80
서대문구    66
동대문구    66
은평구     60
구로구     30
강서구     55
dtype: int64

In [13]:
print( f'짝수 행만 77로 변경하기 \n{'-'*40}')
myseries.iloc[0::2] = 77
print(myseries)

짝수 행만 77로 변경하기
----------------------------------------
마포구     77
용산구     80
서대문구    77
동대문구    66
은평구     77
구로구     30
강서구     77
dtype: int64

In [14]:
myseries

마포구     77
용산구     80
서대문구    77
동대문구    66
은평구     77
구로구     30
강서구     77
dtype: int64